Package: ru.danpashin.scparser
Name: SCParser
Version: 1.0
Description: Высокоскоростной парсер подписанных данных в формате plist
Section: Development
Depends: firmware (>= 8.0)
Architecture: iphoneos-arm
Author: Daniil Pashin <admin@danpashin.ru>
Maintainer: Daniil Pashin <admin@danpashin.ru>
Tag: role::developer, compatible::ios8, compatible::ios9, compatible::ios10, compatible::ios11, compatible::ios12
